* {
 margin: 0px;
 /* padding: 5px; */
 color: #FFFFFF;
}
body {
 /* margin: 0px; */
 background: #000000;
 /* font-size: 15pt; */
}

/* text */
/* h1 {
 margin: 8px; 
} */

/* header */
header {
 /* height: 38px; */
 /* margin: 0px; */ 
 padding: 8px;
 background: #00887A;
 display: flex;
}
.menu {
 width: 40px;
 margin: 0px 8px 0px 0px;
 /* background-image: url(3bars.png); */
}

/* section */
.grammar {
 margin: 5px 8px 5px 8px;
 border: 1px solid;
}
.grammar-list {
 display: flex;
 flex-wrap: wrap;
}
.grammar-list > li {
 width: 45%;
}
li {
 margin: 7px 10px 7px 10px;
 border-radius: 8px;
 padding: 5px;
 background: #6E6F81;
}